<ion-content [fullscreen]="true" class="contenido">
  <ion-header collapse="condense">
  
  </ion-header>
  <div class="es01">
    <div class="imag">
      <img src="assets\imagenes\UASD.png" alt="Descripción de la imagen">
      <p class="parrafo">
        La Universidad de Santo Domingo fue creada mediante la Bula In Apostolatus Culmine, expedida el 28 de octubre de 1538 por el Papa Paulo III, la cual elevó a esa categoría el Estudio General que los dominicos regenteaban desde el 1518, en Santo Domingo, sede virreinal de la colonización y el más viejo establecimiento colonial del Nuevo Mundo.<br><br>
        La naciente Universidad inició sus enseñanzas organizadas en cuatro Facultades: Medicina, Derecho, Teología y Artes, conforme a las normas establecidas en la época para las instituciones similares de la metrópoli. Los estudios de Artes incluían dos modalidades, a saber: el “trivium” que comprendía la Gramática, la Retórica y la Lógica y el “quadrivium”, que englobaba la Aritmética, Geometría, Astronomía y Música”.
      </p>
    </div>
    <div class="login">
        <button (click)="goToLogin()" class="btn-login" type="submit" value="Login">ENTRAR</button>
        <button (click)="goToRegister()" class="btn-regis" type="submit" value="Regis">REGISTRARSE</button>
    </div>
  </div>
</ion-content>


