<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
       </ion-buttons>
    <ion-title>Desarrolladores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="contact-card">
    <img src="assets/imagenes/foto.jpeg" alt="Foto de contacto" class="profile-img" />
    <h2>Johndy Stany Ceballos Jimenez</h2>
    <p>Desarrollador de Software</p>
    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-text>
        <a href="mailto:jondystany@gmail.com"><p style="color: rgb(0, 128, 255);">jondystany&#64;gmail.com</p></a>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Teléfono:</ion-label>
      <ion-text>
        <a href="tel:+18098570875">+1809-859-0875</a>
      </ion-text>
    </ion-item>
    <label>Biografia
      <p>Johndy Stany Ceballos Jiménez nació el 22 de mayo de 2002 en Santo Domingo, R.D. Completó su bachillerato técnico en Mecatrónica en el Instituto Politécnico Aragón y ha cursado programas en reparación y ensamblado de inversores, redes de la información y programación con Arduino. Actualmente, estudia Desarrollo de Software en el ITLA. Entre sus habilidades destacan el desarrollo de páginas web y dominio de lenguajes como C#, Java, Kotlin, así como tecnologías como Ionic, Flutter y bases de datos SQL.</p>
      </label>
    
    
  </div>

  <div class="contact-card">
    <img src="assets/imagenes/foto1.jpeg" alt="Foto de contacto" class="profile-img" />
    <h2>Frandy Daniel de la Cruz Arias</h2>
    <p>Desarrollador de Software</p>
    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-text>
        <a href="mailto:frandy9991@gmail.com"><p style="color: rgb(0, 128, 255);">frandy9991&#64;gmail.com</p></a>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Teléfono:</ion-label>
      <ion-text>
        <a href="tel:+18492532598">+1849-253-2598</a>
      </ion-text>
    </ion-item>
      <label>Biografia
        <p>Soy un estudiante de Desarrollo de Software con una sólida capacidad para adaptarme a diversos entornos tecnológicos. Mi experiencia en servicio al cliente ha desarrollado mis habilidades en comunicación efectiva y resolución de problemas. Me destaco por mi capacidad para colaborar en equipo y contribuir al logro de metas comunes. Estoy comprometido con el aprendizaje continuo y busco aportar al crecimiento de la empresa mientras perfecciono mis habilidades técnicas y profesionales.</p>
        </label>
    </div>
</ion-content>
